<% if resource.errors.any? %>
  <div  class="alert alert-danger" data-turbo-cache="false">
  <button class="close" data-dismiss="alert">×</button>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
