<div class="container-fluid">
  <div class="alert alert-success alert-dismissible alert_div" role="alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <strong class="alert_message"></strong>
  </div>
  <div class="alert alert-danger alert-dismissible alert_delete" role="alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <strong class="alert_delete_message"></strong>
  </div>
  <div class="row">
    <div class="col-md-12" >
      <div class="col-md-6">
        <h2>Articles</h2>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to(new_article_path, class: "btn btn-primary", :remote => true) do %>
          <span>Add Article</span> 
        <%end%>
      </div>
    </div>
    <div>
      <table class="table table-bordered table-hover main_table text-center" id="articles-table" width="100%">
        <thead>
           <tr>
            <th>Title</th>            
            <th>Description</th>            
            <th>Created_at</th>       
            <th>Updated_at</th>
            <th>Action</th>       
           </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<div class="create_modal_body"></div>

<script type="text/javascript">
  $(document).ready(function(){
    var table = $('#articles-table').DataTable({
        columns: [
          {data: 'title', 'sortable': false},
          {data: 'description', 'sortable': false},
          {data: 'created_at', 'sortable': false},
          {data: 'updated_at', 'sortable': false},
          {data: 'action', 'sortable': false}
        ],
        "processing": true,
        "serverSide": true,
        "ajax": '/articles/show_articles',
        "pagingType": "full_numbers",
        "dom": '<"top"lp>rt<"bottom"i><"clear">',
        orderCellsTop: true,
        sServerMethod: "POST",
        "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            $('td:eq(5)', nRow).addClass("text-right");
        }
    });

    
  });
</script>