<% if status == 'action' %>
  <div class='actions' style = 'float:left;'>
    <a  href='/articles/edit/<%= record.id %>' data-remote='true'>
      <i class='fa fa-pencil-square-o' aria-hidden='true'></i>
    </a>
  </div>
<%end%>